/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

table#tdisplay, td#tdisplay{
	font:100% Arial, Helvetica, sans-serif; 
}
table#tdisplay table{width:100%;border-collapse:collapse;margin:1em 0;}
table#tdisplay th, table#tdisplay  td{text-align:left;padding:.5em;border:1px solid #fff;}
table#tdisplay th{background:#328aa4 url(tr_back.gif) repeat-x;color:#fff;}
table#tdisplay td{background:#e5f1f4;}

/* tablecloth styles */

table#tdisplay tr.even td{background:#e5f1f4;}
table#tdisplay tr.odd td{background:#f8fbfc;}

table#tdisplay th.over,table#tdisplay tr.even table#tdisplay th.over,table#tdisplay tr.oddtable #tdisplay th.over{background:#4a98af;}
table#tdisplay th.down,table#tdisplay tr.even table#tdisplay table#tdisplay table#tdisplay th.down,table#tdisplay tr.odd table#tdisplay th.down{background:#bce774;}
table#tdisplay th.selected, table#tdisplay tr.even table#tdisplay th.selected, table#tdisplay tr.odd table#tdisplay th.selected{}

table#tdisplay td.over, table#tdisplay tr.even table#tdisplay td.over, table#tdisplay tr.odd table#tdisplay td.over{background:#ecfbd4;}
table#tdisplay td.down, table#tdisplay tr.even table#tdisplay td.down, table#tdisplay tr.odd table#tdisplay td.down{background:#bce774;color:#fff;}
table#tdisplay td.selected, table#tdisplay tr.even table#tdisplay td.selected, table#tdisplay tr.odd table#tdisplay td.selected{background:#bce774;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
table#tdisplay td.empty, table#tdisplay tr.odd table#tdisplay td.empty, table#tdisplay tr.even table#tdisplay td.empty{background:#fff;}